[submodule "assignment-2-Lukas-Maynard"]
	path = Assignment 2/assignment-2-Lukas-Maynard
	url = https://github.com/BSU-CS-222/assignment-2-Lukas-Maynard.git
[submodule "assignment-3-Lukas-Maynard"]
	path = assignment-3-Lukas-Maynard
	url = https://github.com/BSU-CS-222/assignment-3-Lukas-Maynard.git
[submodule "assignment-4-Lukas-Maynard"]
	path = assignment-4-Lukas-Maynard
	url = https://github.com/BSU-CS-222/assignment-4-Lukas-Maynard.git
[submodule "project-1-cool-programmers"]
	path = project-1-cool-programmers
	url = https://github.com/BSU-CS-222/project-1-cool-programmers.git
[submodule "assignment-5-Lukas-Maynard"]
	path = assignment-5-Lukas-Maynard
	url = https://github.com/BSU-CS-222/assignment-5-Lukas-Maynard.git
